.footer-container {
  background-color: var(--primary-bg);
  padding: 10px;
  color: var(--white);
}

.footer-dark {
  background-color: black;
  border-top: solid 1px gray;
}

.contact-btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
}
